// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Prompt', sans-serif;
$font-size-base: 0.875rem;
$line-height-base: 1.4;

// Colors
$blue: #0099cc;
$indigo: #536dfe;
$purple: #7c4dff;
$pink: #ff4444;
$red: #cc0000;
$orange: #ff8800;
$yellow: #ffbb33;
$green: #007e33;
$teal: #00c851;
$cyan: #33b5e5;
